body
{
	margin: 10px;
	padding: 0;
	background: #000;
	font: 1em Verdana, sans-serif;
	color: #fff;
}

fieldset
{
	padding: 10px;
	background-color: #1B1B1B;
	border: 1px solid #fff;
}

fieldset legend
{
	font: 1em Verdana, sans-serif;
	font-weight: bold;
	color: #fff;
}

a img
{
	border: 0px;
}

a
{
	color: #FFD100;
	text-decoration: none;
}

a:HOVER
{
	text-decoration: underline;
}

.buttons a.button
{
	font-weight: bold;
}

.buttons a.active
{
	color: #C09316;
}

fieldset#pane_loot
{
}

table thead th
{
	text-align: left;
}

.in_guild
{
	color: green;
}

.not_in_guild
{
	color: red;
}

.status
{
	display: block;
	height: 16px;
	width: 16px;
}

.status.in
{
	background: url(../pics/icons/tick.png) center center no-repeat;
}

.status.standby
{
	background: url(../pics/icons/cross.png) center center no-repeat;
}

div.instances div.duallist select
{
	/*width: 125px;*/
}

div.menu
{
	border-bottom: 1px solid #fff;
}

div.menu div.topmenu
{
	float: left;
	position: relative;
	padding: 2px 15px;
}

div.menu div.submenu
{
	display: none;
	position: absolute;
	background: #000;
	border: 1px solid #fff;
	padding: 2px 15px;
}

div.menu div:HOVER div.submenu
{
	display: block;
}

div.menu div div.submenu:HOVER
{
	display: block;
}


.raid_view .loot td.name
{
	width: 200px;
}

.raid_view .loot td.item
{
	width: 300px;
}

.raid_view .loot td.dkp
{
	width: 80px;
	text-align: right;
	padding-right: 10px;
}

.raid_view .attendees td.name
{
	width: 200px;
}

.raid_view .attendees td.standby
{
	width: 16px;
}

.raid_view .attendees td.time
{
	width: 200px;
}

.raid_view .attendees td.dkp
{
	width: 60px;
}

table.tablesorter th.header
{
	cursor: pointer;
}

table.tablesorter th.headerSortUp
{
	background: url(../pics/desc.gif) center left no-repeat;
	padding-left: 17px;
}

table.tablesorter th.headerSortDown
{
	background: url(../pics/asc.gif) center left no-repeat;
	padding-left: 17px;
}

fieldset.events a.character
{
	float: left;
	display: block;
	width: 120px;
}

fieldset.loot span.value,
fieldset.dkp span.value
{
	float: left;
	display: block;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}

fieldset.attendees span.standby_status
{
	float: left;
	display: block;
	width: 70px;
	text-align: right;
	margin-right: 10px;
}